@import '_choose_button.scss';

.add-food {
    width: 110px;
    height: 35px;
}

.add {
    width: 50px;
    height: 35px;
}

.remove {
    width: 50px;
    height: 35px;
}

.view-order {
    width: 200px;
    height: 35px;
    position: center;
    bottom: 5px;
}

scroll-container {
    scroll-behavior: smooth;
}

.column_mine {
    float: left;
    width: 615px;
    padding: 10px;
}

.row_mine {
    display: table;
    clear: both;
}

.btn-mine {
    width: 500px;
}

.btn-height {
    height: 30px;
}

.full-width-left {
    width: 45%;
    margin: 0px 2px 0px 0px;
}

.full-width-right {
    width: 45%;
    margin: 0px 0px 0px 2px;
}

.block {
    display: block;
    width: 100%;
    border: none;
    background-color: #04AA6D;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.btn-text-green {
    color: green;
}

.leftimg {
    float: left;
    margin: 7px 7px 7px 0;
}

.text-justify {
    text-align: justify;
    text-align-last: center;
}

.horizontal_slider {
    display: block;
    width: 100%;
    overflow-x: scroll;
    margin-top: 10px;
    padding: 20px;
    box-sizing: border-box;
}

.horizontal_slider::-webkit-scrollbar {
    display: none;
}

.slider_container {
    display: block;
    white-space: nowrap;
}

.item {
    display: inline-block;
    margin-right: 20px;
}

.item img {
    width: 135px;
    object-fit: cover;
}

.between_space {
    margin-top: 10px;
    margin-bottom: 10px;
}

.top_space {
    margin-top: 10px;
}

input[type=text] {
    padding: 10px;
    border: 0;
    /*box-shadow:0 0 15px 4px rgba(0,0,0,0.06);*/
    border-bottom: 1px solid #eee; // add only bottom border
    width: 100%;
    outline: none;
}

.box {
    background-color: white;
}

.butt {
    @extend %butt-all;
}

.butt-pos {
    @extend %butt-my;
    z-index: 1;
}

.butt-neg {
    @extend %butt-my-neg;
}

.butt-pos-mir {
    @extend %butt-my-mir;
    z-index: 1;
}

.butt-neg-mir {
    @extend %butt-my-neg-mir;
}

.pulse {
    background-color: #F6A80B;
    border-radius: 50%;
    animation: pulse 0.7s ease-out;
    transform: scale(0);
    position: absolute;
}

@keyframes pulse {
    to {
        transform: scale(2);
        background-color: #fff;
        opacity: 0;
    }
}

.pulse-neg {
    background-color: #f73823;
    border-radius: 50%;
    animation: pulse 0.7s ease-out;
    transform: scale(0);
    position: absolute;
}

@keyframes pulse-neg {
    to {
        transform: scale(2);
        background-color: #fff;
        opacity: 0;
    }
}

.container {
    position: relative;
    height: 30px;
}

.for-menu-buttons {
    font-size:19px;
    font-weight:500;
}

.img-container {
    position: relative;
    text-align: center;
    color: white;
}

.img-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 1pt;
    font-weight: 600;
    color: white;
}

.img-txt-full {
    transform: scale(10, 10);
}

.img-fl {
    filter: blur(1px);
    opacity: 0.53;
}

.TlBlrCounter_x {
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    white-space: nowrap;
    border-radius: 12px;
    justify-content: space-between;
    background-color: #F5F4F2;
}

.TlBlrDesctopProductCard {
    height: 40px;
    margin-top: auto;
}

.TlBlrCounter_y {
    font-size: 16px;
    font-family: YSText, sans-serif;
    line-height: 17px;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

.TlBlrCounter_y .TlBlrCounter_btn {
    padding: 14px;
}

.TlBlr_div {
    font: inherit;
    border: 0;
    margin: 0;
    padding: 0;
}

%button-non {
    outline: none;
    font-family: inherit;
    font-size: inherit;
    line-height: 1em;
    -webkit-appearance: none;
}

.TlBlrCounter_btn {
    @extend %button-non;
    /*width: 40%;*/
    color: #21201F;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: transparent;
}

.TlBlrCounter_btn::after {
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: 0;
    position: absolute;
    transition: background .2s;
    pointer-events: none;
}

.TlBlrCounter_icon {
    margin: -4px;
}

.TlBlrCounter_btn > * {
    z-index: 1;
}

.TlBlrIcon_root {
    vertical-align: middle;
}

.TlBlrIcon_y {
    width: 24px;
    height: 24px;
}

svg:not(:root) {
    overflow: hidden;
}

.TlBlrCounter_decrement:active::after {
    background: linear-gradient(90deg, #C4C4C4 0%, rgba(196, 196, 196, 0) 50%);
}

.TlBlrCounter_increment:active::after {
    background: linear-gradient(270deg, #C4C4C4 0%, rgba(196, 196, 196, 0) 50%);
}

.TlBlrDesktopProductCard_footer {
    height: 40px;
    margin-top: auto;
}

.TlBlrCounter_onlyIncrement {
    width: 100%;
    height: 100%;
    justify-content: center;
}

.TlBlrCounter_onlyIncrement:active::after {
    background: #d2d0cc;
}

.TlBlrCounter_incrementText {
    display: inline;
    font: inherit;
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 1em;
    vertical-align: baseline;
    font-feature-settings: "pnum" on, "lnum" on;
}

.TlBlrModifierCounter {
    background-color: #F5F4F2;
}

.TlBlrModifierCounter:active::after {
    background: linear-gradient(270deg, #C4C4C4 0%, rgba(196, 196, 196, 0) 50%);
}

.TlBlrCouponApply:active::after {
    transition: .2s;
    background-color: linear-gradient(270deg, #C4C4C4 0%, rgba(196, 196, 196, 0) 50%);
}


@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400&display=swap');

$black: #000;
$white: #fff;

@mixin pseudo ($content: '') {
    position: absolute;
    content: $content;
}

* {
    box-sizing: border-box;

    &::before, &::after {
        box-sizing: border-box;
    }
}

.preloader_s {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    background: $white;
    overflow: hidden;
}

#container {
    position: relative;
    transform: scale(0.725);
}

.divider {
    position: absolute;
    z-index: 2;
    top: 65px;
    left: 200px;
    width: 50px;
    height: 15px;
    background: $white;
}

.loading-text {
    position: relative;
    font-size: 3.75rem;
    font-weight: 300;
    margin: 0;
    white-space: nowrap;

    &::before {
        // For dot
        @include pseudo;
        z-index: 1;
        top: 40px;
        left: 115px;
        width: 6px;
        height: 6px;
        background: $black;
        border-radius: 50%;
        animation: dotMove 1800ms cubic-bezier(0.25,0.25,0.75,0.75) infinite;
    }

    .letter {
        display: inline-block;
        position: relative;
        color: $black;
        letter-spacing: 8px;

        &:nth-child(1) {
            // For the letter "L"
            transform-origin: 100% 70%;
            transform: scale(1, 1.275);

            &::before {
                @include pseudo;
                top: 22px;
                left: 0;
                width: 14px;
                height: 36px;
                background: $white;
                transform-origin: 100% 0;
                animation: lineStretch 1800ms cubic-bezier(0.25,0.25,0.75,0.75) infinite;
            }
        }

        &:nth-child(5) {
            // For the letter "i"
            transform-origin: 100% 70%;
            animation: letterStretch 1800ms cubic-bezier(0.25,0.23,0.73,0.75) infinite;

            &::before {
                @include pseudo;
                top: 15px;
                left: 2px;
                width: 9px;
                height: 15px;
                background: $white;
            }
        }
    }
}

// For the dot
@keyframes dotMove {
    0%, 100% {
        transform: rotate(180deg) translate(-110px, -10px) rotate(-180deg);
    }

    50% {
        transform: rotate(0deg) translate(-111px, 10px) rotate(0deg);
    }
}

// For the letter "i"
@keyframes letterStretch {
    0%, 100% {
        transform: scale(1, 0.35);
        transform-origin: 100% 75%;
    }

    8%, 28% {
        transform: scale(1, 2.125);
        transform-origin: 100% 67%;
    }

    37% {
        transform: scale(1, 0.875);
        transform-origin: 100% 75%;
    }

    46% {
        transform: scale(1, 1.03);
        transform-origin: 100% 75%;
    }

    50%, 97% {
        transform: scale(1);
        transform-origin: 100% 75%;
    }
}

// For the letter "L"
@keyframes lineStretch {
    0%, 45%, 70%, 100% {
        transform: scaleY(0.125);
    }

    49% {
        transform: scaleY(0.75);
    }

    50% {
        transform: scaleY(0.875);
    }

    53% {
        transform: scaleY(0.5);
    }

    60% {
        transform: scaleY(0);
    }

    68% {
        transform: scaleY(0.18);
    }
}

@media(min-width: 48rem) {
    #container {
        transform: scale(0.725rem);
    }
}

@media(min-width: 62rem) {
    #container {
        transform: scale(0.85);
    }
}

