.butt {
  padding-bottom: 4px;
  border-radius: 6px;
  border: none;
  position: absolute;
  color: white;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 200ms;
}

.butt-pos {
  background: #FFAB00;
  left: 100%;
  width: 100%;
  transform: translate(-100%, 0);
}

.butt-neg {
  background: #EF2711;
  left: 0;
  width: 48.5%;
  transform: scale(0.9, 0.9);
}

.butt-pos-mir {
  background: #FFAB00;
  left: 100%;
  width: 48.5%;
  transform: translate(-100%, 0);
}

.butt-neg-mir {
  background: #EF2711;
  left: 0;
  width: 48.5%;
}

.add-food {
  width: 110px;
  height: 35px;
}

.add {
  width: 50px;
  height: 35px;
}

.remove {
  width: 50px;
  height: 35px;
}

.view-order {
  width: 200px;
  height: 35px;
  position: center;
  bottom: 5px;
}

scroll-container {
  scroll-behavior: smooth;
}

.column_mine {
  float: left;
  width: 615px;
  padding: 10px;
}

.row_mine {
  display: table;
  clear: both;
}

.btn-mine {
  width: 500px;
}

.btn-height {
  height: 30px;
}

.full-width-left {
  width: 45%;
  margin: 0px 2px 0px 0px;
}

.full-width-right {
  width: 45%;
  margin: 0px 0px 0px 2px;
}

.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #04AA6D;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.btn-text-green {
  color: green;
}

.leftimg {
  float: left;
  margin: 7px 7px 7px 0;
}

.text-justify {
  text-align: justify;
  text-align-last: center;
}

.horizontal_slider {
  display: block;
  width: 100%;
  overflow-x: scroll;
  margin-top: 10px;
  padding: 20px;
  box-sizing: border-box;
}

.horizontal_slider::-webkit-scrollbar {
  display: none;
}

.slider_container {
  display: block;
  white-space: nowrap;
}

.item {
  display: inline-block;
  margin-right: 20px;
}

.item img {
  width: 135px;
  object-fit: cover;
}

.between_space {
  margin-top: 10px;
  margin-bottom: 10px;
}

.top_space {
  margin-top: 10px;
}

input[type=text] {
  padding: 10px;
  border: 0;
  /*box-shadow:0 0 15px 4px rgba(0,0,0,0.06);*/
  border-bottom: 1px solid #eee;
  width: 100%;
  outline: none;
}

.box {
  background-color: white;
}

.butt-pos {
  z-index: 1;
}

.butt-pos-mir {
  z-index: 1;
}

.pulse {
  background-color: #F6A80B;
  border-radius: 50%;
  animation: pulse 0.7s ease-out;
  transform: scale(0);
  position: absolute;
}

@keyframes pulse {
  to {
    transform: scale(2);
    background-color: #fff;
    opacity: 0;
  }
}
.pulse-neg {
  background-color: #f73823;
  border-radius: 50%;
  animation: pulse 0.7s ease-out;
  transform: scale(0);
  position: absolute;
}

@keyframes pulse-neg {
  to {
    transform: scale(2);
    background-color: #fff;
    opacity: 0;
  }
}
.container {
  position: relative;
  height: 30px;
}

.for-menu-buttons {
  font-size: 19px;
  font-weight: 500;
}

.img-container {
  position: relative;
  text-align: center;
  color: white;
}

.img-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 1pt;
  font-weight: 600;
  color: white;
}

.img-txt-full {
  transform: scale(10, 10);
}

.img-fl {
  filter: blur(1px);
  opacity: 0.53;
}

.TlBlrCounter_x {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  white-space: nowrap;
  border-radius: 12px;
  justify-content: space-between;
  background-color: #F5F4F2;
}

.TlBlrDesctopProductCard {
  height: 40px;
  margin-top: auto;
}

.TlBlrCounter_y {
  font-size: 16px;
  font-family: YSText, sans-serif;
  line-height: 17px;
  font-feature-settings: "pnum" on, "lnum" on;
}

.TlBlrCounter_y .TlBlrCounter_btn {
  padding: 14px;
}

.TlBlr_div {
  font: inherit;
  border: 0;
  margin: 0;
  padding: 0;
}

.TlBlrCounter_btn {
  outline: none;
  font-family: inherit;
  font-size: inherit;
  line-height: 1em;
  -webkit-appearance: none;
}

.TlBlrCounter_btn {
  /*width: 40%;*/
  color: #21201F;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: transparent;
}

.TlBlrCounter_btn::after {
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: 0;
  position: absolute;
  transition: background 0.2s;
  pointer-events: none;
}

.TlBlrCounter_icon {
  margin: -4px;
}

.TlBlrCounter_btn > * {
  z-index: 1;
}

.TlBlrIcon_root {
  vertical-align: middle;
}

.TlBlrIcon_y {
  width: 24px;
  height: 24px;
}

svg:not(:root) {
  overflow: hidden;
}

.TlBlrCounter_decrement:active::after {
  background: linear-gradient(90deg, #C4C4C4 0%, rgba(196, 196, 196, 0) 50%);
}

.TlBlrCounter_increment:active::after {
  background: linear-gradient(270deg, #C4C4C4 0%, rgba(196, 196, 196, 0) 50%);
}

.TlBlrDesktopProductCard_footer {
  height: 40px;
  margin-top: auto;
}

.TlBlrCounter_onlyIncrement {
  width: 100%;
  height: 100%;
  justify-content: center;
}

.TlBlrCounter_onlyIncrement:active::after {
  background: #d2d0cc;
}

.TlBlrCounter_incrementText {
  display: inline;
  font: inherit;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1em;
  vertical-align: baseline;
  font-feature-settings: "pnum" on, "lnum" on;
}

.TlBlrModifierCounter {
  background-color: #F5F4F2;
}

.TlBlrModifierCounter:active::after {
  background: linear-gradient(270deg, #C4C4C4 0%, rgba(196, 196, 196, 0) 50%);
}

.TlBlrCouponApply:active::after {
  transition: 0.2s;
  background-color: linear-gradient(270deg, #C4C4C4 0%, rgba(196, 196, 196, 0) 50%);
}
